* {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  background-color: black;
  width: 330px;
  height: 525px;
  margin: 150px auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
  margin-bottom: 15px;
  padding-right: 20px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLabel {
  font-size: 70px;
  width: auto;
  height: 60px;
}

.upperLabel {
  font-size: 25px;
  width: auto;
  height: 40px;
}

.btn {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: #333333;
  font-size: 35px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

.btnZero {
  width: 155px;
  height: 75px;
}

.btnDel {
  font-family: sans-serif;
  background-color: #a5a5a5;
}

.btnFunc {
  background-color: #fe9505;
}

.allButtons {
  width: 330px;
  height: 400px;
  /*background-color: orange;*/
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}
