* {
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 200px;
  background-color: black;
  width: 330px;
  height: 525px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.phoneImg {
  position: absolute;
  height: 700px;
  width: 380px;
  z-index: -1;
}

.tableImg {
  position: absolute;
  z-index: -2;
  height: 1080px;
  width: 1920px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
  margin-bottom: 15px;
  padding-right: 20px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLabel {
  font-size: 70px;
  width: auto;
  height: 60px;
}

.upperLabel {
  font-size: 25px;
  width: auto;
  height: 40px;
}

.btn {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: #333333;
  font-size: 35px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: #ffffff;
}

.btnZero {
  width: 155px;
  height: 75px;
}

.btnDel {
  font-family: sans-serif;
  background-color: #a5a5a5;
}

.btnFunc {
  background-color: #fe9505;
}

.allButtons {
  width: 330px;
  height: 400px;
  /*background-color: orange;*/
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}
